/* 更改layui样式*/
.layui-form {
    margin-top: 40px !important;
}

.layui-form-checkbox[lay-skin=primary] {
    height: 30px !important;
}

.page-title {
    border-bottom: 1px solid #ccc;
    padding: 5px;
    font-weight: bold;
    margin-left: 10px;
}

#items {
    margin-top: 10px;
    overflow: hidden;
}

/* 选项样式 */
.item {
    width: 80px;
    display: block;
    height: 38px;
    line-height: 38px;
    padding: 0 18px;
    white-space: nowrap;
    text-align: center;
    font-size: 14px;
    border-radius: 2px;
    cursor: pointer;
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;
    border: 1px solid #C9C9C9;
    background-color: #fff;
    color: #555;
}

.item:hover {
    border-color: #009688;
    color: #009688;
}

.item.active {
    border-color: #009688;
    background: #009688;
    color: #fff;
}