<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- 打印查询语句 -->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>
    <typeAliases>
        <!-- 自定义别名 -->
        <typeAlias type="com.cqbbj.entity.Menu" alias="menu"/>
        <typeAlias type="com.cqbbj.entity.Company" alias="company"/>
        <typeAlias type="com.cqbbj.entity.CompanyConfig" alias="companyConfig"/>
        <typeAlias type="com.cqbbj.entity.Dept" alias="dept"/>
        <typeAlias type="com.cqbbj.entity.Position" alias="position"/>
        <typeAlias type="com.cqbbj.entity.Employee" alias="employee"/>
        <typeAlias type="com.cqbbj.entity.MoneyDetail" alias="moneyDetail"/>
        <typeAlias type="com.cqbbj.entity.Customer" alias="customer"/>
        <typeAlias type="com.cqbbj.entity.OperationLog" alias="operationLog"/>
        <typeAlias type="com.cqbbj.entity.MessageLog" alias="messageLog"/>
        <typeAlias type="com.cqbbj.entity.Order" alias="order"/>
        <typeAlias type="com.cqbbj.entity.Car" alias="car"/>
        <typeAlias type="com.cqbbj.entity.PayRecord" alias="payRecord"/>
        <typeAlias type="com.cqbbj.entity.Salary" alias="salary"/>
    </typeAliases>
    <plugins>
        <!-- 分页插件 -->
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <property name="helperDialect" value="mysql"/>
        </plugin>
    </plugins>
</configuration>