<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqbbj.dao.CompanyConfigMapper">
    <sql id="insert_all_fields">
        createTime,
        deleteStatus,
        company_no,
        logo,
        msg_sign,
        msg_count,
        msg_open,
        endTime,
        keyword
    </sql>
    <sql id="insert_all_values">
        #{createTime},
        #{deleteStatus},
        #{company_no},
        #{logo},
        #{msg_sign},
        #{msg_count},
        #{msg_open},
        #{endTime},
        #{keyword}
    </sql>
    <!-- 保存公司配置 -->
    <insert id="save" parameterType="companyConfig">
        insert into sys_company_config(<include refid="insert_all_fields"/>) values(<include refid="insert_all_values"/>)
    </insert>
    <!-- 修改公司配置 -->
    <update id="update" parameterType="companyConfig">
        update sys_company_config
        <set>
            <if test="logo != null and logo != ''">logo = #{logo},</if>
            <if test="msg_sign != null and msg_sign != ''">msg_sign = #{msg_sign},</if>
            <if test="msg_count != null">msg_count = #{msg_count},</if>
            <if test="msg_open != null">msg_open = #{msg_open},</if>
            <if test="endTime != null">endTime = #{endTime},</if>
            <if test="keyword != null and keyword !=''">keyword = #{keyword},</if>
        </set>
        where id = #{id}
    </update>
</mapper>