<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqbbj.dao.CustomerMapper">
    <sql id="insert_all_fields">
        createTime,
        deleteStatus,
        name,
        phone,
        cust_no
    </sql>
    <sql id="insert_all_values">
        #{createTime},
        #{deleteStatus},
        #{name},
        #{phone},
        #{cust_no}
    </sql>
    <sql id="query_all_fields">
        id,
        name,
        phone,
        createTime,
        cust_No
    </sql>
    <!-- 保存客户 -->
    <insert id="save" parameterType="customer" useGeneratedKeys="true" keyProperty="id">
        insert into sys_customer(<include refid="insert_all_fields"/>) values(<include refid="insert_all_values"/>)
    </insert>
    <!-- 修改客户 -->
    <update id="update" parameterType="customer">
        update sys_customer
        <set>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
        </set>
        where id = #{id}
    </update>
    <!-- 删除客户 -->
    <delete id="delete" parameterType="int">
        delete from sys_customer where id = #{id}
    </delete>
    <!-- 查询客户列表 -->
    <select id="queryList" resultType="customer" parameterType="customer">
        select <include refid="query_all_fields"></include> from sys_customer where deleteStatus = 0
    </select>
    <!-- 根据对象属性查询 -->
    <select id="queryByProperties" parameterType="customer" resultType="customer">
        select * from sys_customer where deleteStatus = 0
        <if test="phone != null and phone != ''">and phone = #{phone}</if>
    </select>
</mapper>