<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqbbj.dao.CustomerMapper">
    <sql id="insert_all_fields">
        createTime,
        deleteStatus,
        name,
        phone,
        cust_no
    </sql>
    <sql id="insert_all_values">
        #{createTime},
        #{deleteStatus},
        #{name},
        #{phone},
        #{cust_no}
    </sql>
    <sql id="query_all_fields">
        id,
        name,
        phone,
        createTime,
        cust_no
    </sql>
    <!-- 保存客户 -->
    <insert id="save" parameterType="customer" useGeneratedKeys="true" keyProperty="id">
        insert into sys_customer(<include refid="insert_all_fields"/>) values(<include refid="insert_all_values"/>)
        on duplicate key update name=#{name},phone=#{phone},cust_no=#{cust_no}
    </insert>
    <!-- 修改客户 -->
    <update id="update" parameterType="customer">
        update sys_customer
        <set>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="cust_no != null and cust_no !=''"> cust_no = #{cust_no}</if>
        </set>
        where id = #{id}
    </update>
    <!-- 删除客户 -->
    <delete id="delete" parameterType="int">
        delete from sys_customer where id = #{id}
    </delete>
    <!-- 批量逻辑删除客户 -->
    <update id="deleteActiveBatch" parameterType="string">
        update sys_customer set deleteStatus = 1 where id in
        <foreach collection="array" index="index" item="item" open="(" separator="," close=")">
           #{item}
        </foreach>
    </update>
    <!-- 查询客户列表 -->
    <select id="queryList" resultType="customer" parameterType="customer">
        select <include refid="query_all_fields"></include> from sys_customer where deleteStatus = 0
        <if test="cust_no != null and cust_no != ''">and cust_no = #{cust_no}</if>
        <if test="name != null and name != ''">and name like concat('%', #{name},'%')</if>
        order by createTime desc
    </select>
    <!-- 查询客户列表 -->
    <select id="queryById" resultType="customer" parameterType="int">
        select <include refid="query_all_fields"></include> from sys_customer where id=#{id}
    </select>
    <!-- 根据对象属性查询 -->
    <select id="queryByProperties" parameterType="customer" resultType="customer">
        select * from sys_customer where deleteStatus = 0
        <if test="phone != null and phone != ''">and phone = #{phone}</if>
    </select>
    <!--根据手机号查找客户-->
    <select id="queryByPhone" parameterType="string"  resultType="customer">
        select <include refid="query_all_fields"/> from sys_customer where deleteStatus = 0
        <if test="phone != null and phone != ''">and phone = #{phone}</if>
    </select>
</mapper>