<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqbbj.dao.EmployeeMapper">
    <sql id="insert_all_fields">
        createTime,
        deleteStatus,
        account,
        password,
        name,
        phone,
        sex,
        is_disabled,
        emp_no,
        dept_id,
        position_id,
        money,
        is_onjob
    </sql>
    <sql id="insert_all_values">
        #{createTime},
        #{deleteStatus},
        #{account},
        #{password},
        #{name},
        #{phone},
        #{sex},
        #{is_disabled},
        #{emp_no},
        #{dept_id},
        #{position_id},
        #{money},
        #{is_onjob}
    </sql>
    <sql id="query_all_fields">
        id,
        account,
        password,
        name,
        phone,
        sex,
        is_disabled,
        emp_no,
        dept_id,
        position_id,
        money,
        is_onjob,
        createTime
    </sql>
    <!-- 保存员工 -->
    <insert id="save" parameterType="employee" useGeneratedKeys="true" keyProperty="id">
        insert into sys_employee(<include refid="insert_all_fields"/>) values(<include refid="insert_all_values"/>)
    </insert>
    <!-- 修改员工 -->
    <update id="update" parameterType="employee">
        update sys_employee
        <set>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="account != null and account != ''">account = #{account},</if>
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="is_disabled != null">is_disabled = #{is_disabled},</if>
            <if test="dept_id != null">dept_id = #{dept_id},</if>
            <if test="position_id != null">position_id = #{position_id},</if>
            <if test="money != null">money = #{money},</if>
            <if test="is_onjob != null">is_onjob = #{is_onjob},</if>
        </set>
        where id = #{id}
    </update>
    <!-- 删除员工 -->
    <delete id="delete" parameterType="int">
        delete from sys_employee where id = #{id}
    </delete>
    <!-- 逻辑删除员工 -->
    <update id="deleteActive" parameterType="int">
        update sys_employee set deleteStatus = 0 where id = #{id}
    </update>
    <!-- 查询员工列表 -->
    <select id="queryList" resultType="employee" parameterType="employee">
        select
        e.id,
        e.account,
        e.password,
        e.name,
        e.phone,
        e.sex,
        e.is_disabled,
        e.emp_no,
        e.dept_id,
        e.position_id,
        e.money,
        e.is_onjob,
        e.createTime,
        d.name as deptName,
        p.name as positionName
        from sys_employee e
        left join sys_dept d on d.id = e.dept_id
        left join sys_position p on p.id = e.position_id
        where e.deleteStatus = 0
        <if test="account != null and account != ''">and e.account = #{account}</if>
        <if test="name != null and name != ''">and e.name like concat("%",#{name},"%")</if>
        <if test="phone != null and phone != ''">and e.phone like concat("%",#{phone},"%")</if>
        <if test="is_onjob != null">and e.is_onjob = #{is_onjob}</if>
        <if test="deptName != null and deptName != ''">and d.name like concat("%",#{deptName},"%")</if>
        <if test="position_id != null">and e.position_id = #{position_id}</if>
    </select>
    <!-- 根据ID查询 -->
    <select id="queryById" parameterType="int" resultType="employee">
        select
        <include refid="query_all_fields"/>
        from sys_employee where id = #{id}
    </select>
</mapper>