<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqbbj.dao.MessageLogMapper">
    <sql id="insert_all_fields">
        createTime,
        deleteStatus,
        phone,
        content
    </sql>
    <sql id="insert_all_values">
        #{createTime},
        #{deleteStatus},
        #{phone},
        #{content}
    </sql>
    <sql id="query_all_fields">
        id,
        phone,
        content,
        createTime
    </sql>
    <!-- 保存短信日志 -->
    <insert id="save" parameterType="messageLog" useGeneratedKeys="true" keyProperty="id">
        insert into sys_message_log(<include refid="insert_all_fields"/>) values(<include refid="insert_all_values"/>)
    </insert>
    <!-- 查询短信日志列表 -->
    <select id="queryList" resultType="messageLog" parameterType="messageLog">
        select <include refid="query_all_fields"></include> from sys_message_log where deleteStatus = 0
        order by createTime desc
    </select>
</mapper>