<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqbbj.dao.NoticeMapper">
    <sql id="insert_all_fields">
        createTime,
        deleteStatus,
        title,
        content,
        status,
        emp_no
    </sql>
    <sql id="insert_all_values">
        #{createTime},
        #{deleteStatus},
        #{title},
        #{content},
        #{status},
        #{emp_no}
    </sql>
    <sql id="query_all_fields">
        id,
        createTime,
        title,
        content,
        status,
        emp_no
    </sql>
    <!-- 保存公告 -->
    <insert id="save" parameterType="notice" useGeneratedKeys="true" keyProperty="id">
        insert into sys_notice(<include refid="insert_all_fields"/>) values(<include refid="insert_all_values"/>)
    </insert>
    <!-- 修改公告 -->
    <update id="update" parameterType="Notice">
        update sys_notice
        <set>
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="content != null and content != ''">content = #{content},</if>
            <if test="status != null and status != ''">status = #{status},</if>
        </set>
        where id = #{id}
    </update>
    <!-- 删除公告 -->
    <delete id="delete" parameterType="int">
        delete from sys_notice where id = #{id}
    </delete>

    <!-- 查询公告列表 -->
    <select id="queryList" resultType="notice" parameterType="notice">
        select
        n.id,
        n.title,
        n.content,
        n.status,
        e.name as empName,
        n.createTime
        from sys_notice n
        left join sys_employee e on e.emp_no = n.emp_no
        where n.deleteStatus = 0
        <if test="title != null and title != ''">and n.title like concat("%",#{title},"%")</if>
        <if test="empName != null and empName != ''">and e.name like concat("%",#{empName},"%")</if>
        order by n.createTime desc
    </select>
    <!-- 根据Id查询公告 -->
    <select id="queryById" resultType="notice" parameterType="int">
        select <include refid="query_all_fields"></include> from sys_notice where id =#{id}
    </select>
</mapper>