<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqbbj.dao.OrderMapper">
    <sql id="insert_all_fields">
        createTime,
        deleteStatus,
        name,
        phone,
        start,
        end,
        price,
        beginTime,
        content,
        status,
        startMap,
        endMap,
        order_no,
        endTime,
        cust_no,
        receiveMoney,
        receiveText,
        costMoney,
        visit,
        source,
        type,
        is_clean,
        cleanText,
        payState,
        salesman,
        costText,
        cleanEmp,
        workTime
    </sql>
    <sql id="insert_all_values">
        #{createTime},
        #{deleteStatus},
        #{name},
        #{phone},
        #{start},
        #{end},
        #{price},
        #{beginTime},
        #{content},
        #{status},
        #{startMap},
        #{endMap},
        #{order_no},
        #{endTime},
        #{cust_no},
        #{receiveMoney},
        #{receiveText},
        #{costMoney},
        #{visit},
        #{source},
        #{type},
        #{is_clean},
        #{cleanText},
        #{payState},
        #{salesman},
        #{costText},
        #{cleanEmp},
        #{workTime}
    </sql>
    <sql id="query_all_fields">
        id,
        name,
        phone,
        start,
        end,
        content,
        price,
        beginTime,
        createTime,
        status,
        startMap,
        endMap,
        order_no,
        endTime,
        cust_no,
        receiveMoney,
        receiveText,
        costMoney,
        visit,
        source,
        type,
        is_clean,
        cleanText,
        payState,
        salesman,
        costText,
        cleanEmp,
        workTime
    </sql>
    <!-- 保存订单 -->
    <insert id="save" parameterType="order" useGeneratedKeys="true" keyProperty="id">
        insert into sys_order(<include refid="insert_all_fields"/>) values(<include refid="insert_all_values"/>)
    </insert>
    <!-- 修改订单 -->
    <update id="update" parameterType="order">
        update sys_order
        <set>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="start != null and start != ''">start = #{start},</if>
            <if test="end != null and end != ''">end = #{end},</if>
            <if test="content != null and content != ''">content = #{content},</if>
            <if test="price != null">price = #{price},</if>
            <if test="beginTime != null">beginTime = #{beginTime},</if>
            <if test="status != null">status = #{status},</if>
            <if test="startMap != null and startMap !=''">startMap = #{startMap},</if>
            <if test="endMap != null and endMap !=''">endMap = #{endMap},</if>
            <if test="endTime != null">endTime = #{endTime},</if>
            <if test="receiveMoney != null">receiveMoney = #{receiveMoney},</if>
            <if test="receiveText != null and receiveText != ''">receiveText = #{receiveText},</if>
            <if test="costMoney != null">costMoney = #{costMoney},</if>
            <if test="visit != null and visit != ''">visit = #{visit},</if>
            <if test="source != null">source = #{source},</if>
            <if test="type != null">type = #{type},</if>
            <if test="is_clean != null">is_clean = #{is_clean},</if>
            <if test="cleanText != null and cleanText != ''">cleanText = #{cleanText},</if>
            <if test="payState != null">payState = #{payState},</if>
            <if test="costText != null and costText != ''">costText = #{costText},</if>
            <if test="cleanEmp != null and cleanEmp != ''">cleanEmp = #{cleanEmp},</if>
            <if test="workTime != null">workTime = #{workTime},</if>
        </set>
        where id = #{id}
    </update>
    <!-- 删除订单 -->
    <delete id="delete" parameterType="int">
        delete from sys_order where id = #{id}
    </delete>
    <!-- 逻辑删除订单 -->
    <update id="deleteActive" parameterType="int">
        update sys_order set deleteStatus = 1 where id = #{id}
    </update>
    <!-- 修改订单状态 -->
    <update id="updateOrderStatus" parameterType="map">
        update sys_order set status = #{status} where id = #{id}
    </update>

    <!-- 查询订单列表 -->
    <select id="queryList" resultType="order" parameterType="order">
        select
        r.id,
        r.name,
        r.phone,
        r.start,
        r.end,
        r.content,
        r.price,
        r.beginTime,
        r.createTime,
        r.status,
        r.startMap,
        r.endMap,
        r.order_no,
        r.endTime,
        r.cust_no,
        r.receiveMoney,
        r.receiveText,
        r.costMoney,
        r.visit,
        r.source,
        r.type,
        r.payState,
        r.salesman,
        r.is_clean,
        r.cleanText,
        r.workTime
        from sys_order r
        where r.deleteStatus = 0
        <if test="name != null and name != ''">and r.name = #{name}</if>
        <if test="cust_no != null and cust_no != ''">and r.cust_no = #{cust_no}</if>
        <if test="order_no != null and order_no != ''">and r.order_no = #{order_no}</if>
        <if test="status != null">and r.status = #{status}</if>
        <if test="payState != null">and r.payState = #{payState}</if>
        <if test="salesman != null and salesman != ''">and r.salesman = #{salesman}</if>
        <if test="createTime1 != null"><![CDATA[and r.createTime >= #{createTime1}]]></if>
        <if test="createTime2 != null"><![CDATA[and r.createTime <= #{createTime2}]]></if>
        <if test="beginTime1 != null"><![CDATA[and r.beginTime >= #{beginTime1}]]></if>
        <if test="beginTime2 != null"><![CDATA[and r.beginTime <= #{beginTime2}]]></if>
        order by r.createTime desc
    </select>
    <!-- 根据ID查询 -->
    <select id="queryById" parameterType="int" resultType="order">
        select
        <include refid="query_all_fields"/>
        from sys_order where id = #{id}
    </select>
    <!-- 根据属性查询 -->
    <select id="queryByProperties" parameterType="order" resultType="order">
        select
        <include refid="query_all_fields"/>
        from sys_order where
        <if test="order_no != null and order_no != ''">order_no = #{order_no}</if>
        <if test="name != null and name != ''">`name` = #{name}</if>
        <if test="phone != null and phone != ''">phone = #{phone}</if>
        <if test="beginTime1 != null "><![CDATA[ beginTime >= #{beginTime1}  ]]> </if>
        <if test="beginTime2 != null "><![CDATA[ beginTime <= #{beginTime2}  ]]> </if>
    </select>
    <!-- 查询财务账单 -->
    <select id="queryFinanceOrder" parameterType="order" resultType="order">
        select
        <include refid="query_all_fields"/>
        from sys_order where deleteStatus = 0 and status = 2
        <if test="is_clean != null">and is_clean = #{is_clean}</if>
        <if test="payState != null">and payState = #{payState}</if>
        <if test="order_no != null and order_no !=''">and order_no = #{order_no}</if>
        <if test="name != null and name !=''">and name like concat("%",#{name},"%")</if>
        <if test="endTime1 != null"><![CDATA[and endTime >= #{endTime1}]]></if>
        <if test="endTime2 != null"><![CDATA[and endTime <= #{endTime2}]]></if>
    </select>

    <!-- 订单统计 -->
    <select id="queryTotal" resultType="map" parameterType="map">
        select count(id) as f1,sum(price) as f2 from sys_order where deleteStatus = 0
        <if test="startTime != null"><![CDATA[and createTime >= #{startTime}]]></if>
        <if test="endTime != null"><![CDATA[and createTime <= #{endTime}]]></if>
        <if test="status != null">and status = #{status}</if>
        <if test="payState != null">and payState = #{payState}</if>
        <if test="is_clean != null">and is_clean = #{is_clean}</if>
    </select>

    <!-- 查询我的派单 -->
    <select id="queryMyTasks" resultType="order" parameterType="order">
        SELECT
        o.id,
        o.`start`,
        o.`end`,
        o.`name`,
        o.phone,
        o.price,
        o.beginTime,
        o.`status`,
        o.order_no,
        o.endTime,
        so.emp_no,
        so.createTime AS dispatchTime
        FROM
        sys_order AS o
        LEFT JOIN sys_send_order AS so ON so.order_no = o.order_no
        WHERE o.deleteStatus = 0 and so.emp_no = #{emp_no}
        <if test="status != null">and o.status = #{status}</if>
        <if test="beginTime1 != null"><![CDATA[and o.beginTime >= #{beginTime1}]]></if>
        <if test="beginTime2 != null"><![CDATA[and o.beginTime <= #{beginTime2}]]></if>
        GROUP BY
        o.order_no
        ORDER BY
        dispatchTime DESC
    </select>
</mapper>