<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqbbj.dao.PayRecordMapper">
    <sql id="insert_all_fields">
        createTime,
        deleteStatus,
        order_no,
        cust_no,
        payWay,
        payMoney,
        payTime,
        trans_no,
        emp_no,
        record_no
    </sql>
    <sql id="insert_all_values">
        #{createTime},
        #{deleteStatus},
        #{order_no},
        #{cust_no},
        #{payWay},
        #{payMoney},
        #{payTime},
        #{trans_no},
        #{emp_no},
        #{record_no}
    </sql>
    <sql id="query_all_fields">
        id,
        order_no,
        cust_no,
        payWay,
        payMoney,
        payTime,
        trans_no,
        emp_no,
        record_no
    </sql>
    <!-- 保存支付记录 -->
    <insert id="save" parameterType="payRecord" useGeneratedKeys="true" keyProperty="id">
        insert into sys_pay_record(<include refid="insert_all_fields"/>) values(<include refid="insert_all_values"/>)
    </insert>
    <!-- 删除支付记录 -->
    <delete id="delete" parameterType="int">
        delete from sys_pay_record where id = #{id}
    </delete>
    <!-- 逻辑删除支付记录 -->
    <update id="deleteActive" parameterType="int">
        update sys_pay_record set deleteStatus = 1 where id = #{id}
    </update>


    <!-- 查询支付记录列表 -->
    <select id="queryList" resultType="payRecord" parameterType="map">
        select <include refid="query_all_fields"></include> from sys_pay_record where deleteStatus = 0
        <if test="trans_no!=null and trans_no!=''">and trans_no=#{trans_no}</if>
        <if test="order_no!=null and order_no!=''">and order_no=#{order_no}</if>
        <if test="payWay!=null and payWay!=''">and payWay=#{payWay}</if>
        <if test="startTime!=null and startTime!=''"><![CDATA[and payTime >= #{startTime}]]></if>
        <if test="endTime!=null and endTime!=''"><![CDATA[ and payTime  <= #{endTime}]]></if>
        order by createTime desc
    </select>
</mapper>