*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
html,body{
    width: 100%;
    height: 100%;
    font-size: 50%;
}
body{
    background: #e7e7e7;
    position: relative;
}

.list-ul{
    padding: 0 1.5rem;
}
.container-fluid{
    font-size: 5rem;
    padding-top:2rem
}
/*Li卡片的样式*/
.list-li{
    background: white;
    border-radius: 2.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 4rem;
    padding: 2rem;
    position: relative;
    overflow: hidden;
}
.col-sm-7 a{
    color: #029141;
}
.li-title{
    border-bottom: 0.5rem #e6e6e6 dashed;
}
/*文本超出不准换行变成小数点样式*/
.container-fluid p{
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    padding: 4rem;
}
.li-content p{
}
/*起点样式*/
.toAdd{
    background-image: url("/resources/wx/imge/foadd.png");
    background-repeat: no-repeat;
    background-position: 1rem;
    background-size:6%;
    padding-left: 2em !important;
}
/*终点样式*/
.formAdd{
    background-image: url("/resources/wx/imge/toAd.png");
    background-repeat: no-repeat;
    background-position: 1rem;
    background-size: 6%;
    padding-left: 2em !important;
}

/*图章路径*/
.zhang{
    width: 30rem;
    height: 30rem;
    position: absolute;
    top: 10rem;
    right: 6rem;
    -webkit-transform: rotate(30deg);
}
.zhang img{
    width: 100%;
    height: 100%;
}
.pull-right span{
    color: #FF5722;
}

/*隐藏的操作按钮*/
.display{
    text-align: center;
    display: none;
    padding: 2rem 0;
}
.display button {
    width: 100%;
    height: 12rem;
    font-size: 4rem;
}
