html ,body{
    font-size: 50%;
}
body{
    background: #f0f0f0;
}


#main{
    font-size: 4rem;
    margin-top: 160px;
}
#main .card{
    margin-top: 4rem;
    padding: 4rem;
    background: white;
    border-radius: 4rem;
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.row{
    border-bottom: 1px solid #c0c0c0;
}
.col-sm-3{
    height: 10rem;
    line-height: 10rem;
}
.col-sm-8, .col-sm-9{
    height: 10rem;
}
.col-sm-8, .col-sm-9 p{
    line-height: 10rem;
}
.col-sm-1{
    height: 10rem;
    text-align: center;
}
.col-sm-1 img{
    margin-top: 2.5rem;
}
.display input{
    width: 95%;
    height: 15rem;
    margin: 2rem 0;
    font-size: 4rem;
    letter-spacing: 10rem;
    padding-left: 10rem;
    border-radius: 5px;
}
.display{
    display: none;
}