header{
    width: 100%;
    background: darkslateblue;
    margin: 0 auto;
    text-align: center;
    color: white;
    font-size: 6rem;
    position: relative;
}
header p{
    line-height: 150px;
    margin: 0;
}
header .pic{
    width: 150px;
    height: 150px;
    float: left;
    position: absolute;
}
.pic span{
   line-height: 150px;
    color: white;
}
/*页面没有元素显示画面*/
.notFind{
    margin: 0 auto;
    padding-top: 50%;
    text-align: center;
    display: none;
}
.notFind p{
    background: none !important;
    font-size: 4rem;
}
/*页面加载*/
.loading {
    height: 10rem;
    font-size: 4rem;
    display: none;
}

.loading .col-sm-5 {
    margin-top: -1rem;
}

.loading .col-sm-7 {
    margin-top: -1rem;
}

.loading img {
    width: 5rem;
    height: 5rem;
    line-height: 10rem;
}

.loading p {
    text-align: center;
    font-size: 4rem;

}

/*加载完毕*/
.baseLine {
    display: none;
    border: none !important;
}

.baseLine p {
    font-size: 4rem;
    text-align: center;
    padding: 0;
    margin: 2rem 0;
}