header{
    width: 100%;
    background: darkslateblue;
    margin: 0 auto;
    text-align: center;
    color: white;
    font-size: 6rem;
    position: relative;
}
header p{
    line-height: 150px;
    margin: 0;
}
header .pic{
    width: 150px;
    height: 150px;
    float: left;
    position: absolute;
}
.pic span{
   line-height: 150px;
    color: white;
}
/*页面没有元素显示画面*/
.notFind{
    margin: 0 auto;
    padding-top: 50%;
    text-align: center;
    display: none;
}
.notFind p{
    background: none !important;
    font-size: 4rem;
}