*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    font-size: 50%;
}
#main{
    margin-top: 150px;
}
.container-fluid{
    padding: 4rem;
}


table{
    width: 100%;
    height: 100%;
    font-size: 4rem;
    padding: 2rem;
    text-align: center;
}


.table td img{
    width: 200px;
    margin-top: -4.5rem;
    height: 24rem;
}

.form-control{
    height: 10rem;
    width: 100%;
    font-size: 4rem;
    padding-left: 2rem;
}
#picImg{
    position: relative;
}
#submit{
    width: 100%;
    height: 16rem !important;
    margin-top: -10rem;
    font-size: 4rem;
    letter-spacing: 10rem;
    padding-left: 10rem;
    margin-bottom: 4rem;
}
.update{
    width: 100%;
    height: 10rem;
    margin-left: 20rem;
}

/*-------模态框开始-------*/
.alert_model{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background: rgba(0, 0 ,0, 0.52);
    display: none;
}
.alert_body{
    width: 90%;
    background: #fff;
    margin: 10% auto;
    border-radius: 2rem;
    /*display: none;*/
}
.alert-title{
    height: 15rem;
    width: 100%;
    font-size: 4rem;
    text-align: center;
    position: relative;
    border-bottom: 1px solid #737383;
}
.alert-title p{
    line-height: 15rem;
    letter-spacing: 4rem;
    margin-left: 4rem;
}
.alert-title span{
    font-size: 4rem;
    margin-left: -2rem;
    right: 4rem;
    line-height: 15rem;
    position: absolute;
}
.modal-text{
    text-align: center;
}
.modal-text p{
    height: 20rem;
    padding: 0;
    line-height: 20rem;
}
.alert_model input{
    height: 10rem;
    width: 100%;
    font-size: 4rem;
    padding: 2rem;
}
.alert_model button{
    height: 10rem;
    font-size: 4rem;
    width: 100%;
}
.alert_model .container-fluid{
    padding: 2rem;
}
/*-------模态框结束------*/