

/*文字提示*/
.col-sm-2{
    font-size: 4rem;
    height: 10rem;
    text-align: center;
    line-height: 10rem;
}
.col-sm-2 span{
    line-height: 10rem;
    margin-top: 2rem;
    font-size: 4rem;
}
/*输入框*/
.col-sm-10 input{
    font-size: 4rem;
    height: 10rem;
    margin-top: 2rem;
}

#toAdd {
    text-align: center;
    margin-top: 2rem;
}
#formAdd{
    text-align: center;
    margin-top: 2rem;
}
/*按钮区域*/
#main ul{
    width: 100%;
    height: 100%;
    margin-top: 4rem;
}
#items{
    width: 100%;
}
#items .col-sm-4{
    height: 10rem;
    width: 25%;
}
ul li{
    width: 100%;
    height: 100%;
    /*padding: 2rem;*/
    font-size: 4rem;
}
/*按钮的样式*/
li input{
     margin:2rem;
     border:none;
     border: 1px solid #737373;
     color: #737373;
     /*width: 25rem;*/
     height: 10rem;
     line-height: 10rem;
     background: none;
     outline: none;
    border-radius: 1rem;
     /*float: right;*/
 }
/*点击按钮添加active的类*/
.active{
    background: #1e9fff;
    color: white;
    border-color:#1e9fff;
}
/*提交按钮*/
#submit{
    width: 100%;
    height: 10rem;
    margin-top: 4rem;
    margin-bottom: 6rem;
    background:#1e9fff ;
    color: white;
    /*font-size: 4rem;*/
    line-height: 10rem;
    font-size: 5rem;
    letter-spacing:5rem;
    outline: none;
    /*padding: 4rem;*/
}

/*备注框*/
 textarea{
    margin-top: 2rem;
    font-size: 4rem !important;
}

/*number去掉后面的小三角*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type="number"]{
    -moz-appearance: textfield;
}
/*企业和个人下拉选择*/
#typeSelect{
    margin-top: 2rem;
    width: 100%;
    height: 10rem;
    font-size: 4rem;
    padding-left: 2rem;
    -webkit-appearance: none;
}
/*短信提示*/
#massge{
    font-size: 4rem;
}
/*复选框样式*/
.checkbox-min{
    margin-top: 3rem;
    height: 5rem;
    position: absolute;
    text-align: center;
    text-align: center;
}
.checkbox-min input{
    display: none;
}
.checkbox-min span{
    display: inline-block;
    width: 50px;
    height: 50px;
    /*background: red;*/
    /*margin-top: -1rem;*/
    border: 2px solid #ccc;
    border-radius: 50%;
}
.checkbox-min input:checked +span{
    background: #1e9fff;
    border-color: #1e9fff;
    position: relative;
}
/*复选框里面的沟*/
.checkbox-min input:checked +span::before{
    content: "";
    position: absolute;
    width: 2.5rem;
    height: 1.5rem;
    top: 1rem;
    left: 0.8rem;
    border-left: 0.4rem solid white;
    border-bottom: 0.4rem solid white;
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);

}
.checkbox-min i{
    margin-left: 2rem;
    color: #1e9fff;
    float: right;
    font-size: 4rem;
}



