
 .form-group input{
    width: 100%;
    height: 10rem;
    font-size: 4rem;
}
 .form-group label{
     line-height: 10rem;
     font-size: 4rem;
 }
 .form-group textarea{
     font-size: 4rem;
 }
 .row{
     padding: 2rem;
 }
 .row button{
     width: 100%;
     height: 10rem;
     font-size: 4rem;
 }