.form-group{
    padding: 2rem;
}
.row{
    font-size: 4rem;
    color: #8c8c8c;
}
.col-sm-3{
    line-height: 10rem;
    margin-top: 2rem;
}
.row input{
    font-size: 4rem;
    height: 10rem;
    margin-top: 2rem;
    padding-left: 4rem;
}
.row textarea{
    font-size: 4rem;
}