/* 更改layui样式 */
.layui-table-view .layui-form-checkbox{
    top:5px !important;
}


.title{
    margin-left: 10px;margin-top: 12px;
}
.title .flag{
    background: #009688;margin-right: 10px;
}
.moneyInfo{
    margin-left: 10px;margin-top: 20px;line-height: 32px;
}
.moneyInfo .money{
    font-size: 26px;font-style: normal;margin-right: 10px;color: #ff5722;font-weight: bold;
}